<div class="row justify-content-center mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                  Editar Contacto
                </div>
                <div class="card-body">
                    
    
    
                    <form (ngSubmit)="updateUser(user)" [formGroup]="editUserForm" novalidate autocomplete="off" id="edit">
    
                        <div class="form-group row">
                            <label for="firstname" class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control-plaintext border-bottom" id="firstname" placeholder="Nombre" formControlName="firstname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-sm-3 col-form-label">Apellido</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control-plaintext border-bottom" id="lastname" placeholder="Apellido" formControlName="lastname">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="phone" class="col-sm-3 col-form-label">Tel&eacute;fono</label>
                            <div class="col-sm-9">
                                <input type="tel" class="form-control-plaintext border-bottom" id="phone" placeholder="Tel&eacute;fono"  mask='(000) 000-0000' formControlName="phone">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Correo</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control-plaintext border-bottom" id="email" placeholder="email@ejemplo.com"
                                formControlName="email">

                                <p *ngIf="editUserForm.controls['email'].invalid && (editUserForm.controls['email'].dirty || editUserForm.controls['email'].touched)" class="text-danger">
                                    debes introducir un correo válido.
                                </p>


                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="birthdate" class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control-plaintext border-bottom" id="birthdate" placeholder="1999-12-01" mask='0000-00-00' formControlName="birthdate">
                            </div>
                        </div>
    
                        <div class="form-group">
                            <div class="col-md-9 offset-md-3">
                                <div class="btn-group d-flex">
                                        <button class="btn btn-success flex-fill" type="submit" [disabled]="editUserForm.invalid">Guardar</button>
                                        <a routerLink="/" class="btn btn-danger flex-fill" type="button" >Cancelar</a>
                                </div>
                            </div>
                        </div>
    
                    </form>
    
    
    
                </div>
            </div>        
        </div>
    </div>