<div class="row justify-content-center">
    <div class="col-12 mt-4">

        <h1>Contactos</h1>

        <ul class="list-group" id="users">
            <li class="list-group-item">
                <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="search">
            </li>
            <li class="list-group-item" *ngFor="let user of users | filter : search">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <h3 class="d-md-none d-lg-none mb-0">
                            <fa name="user"></fa> {{user.firstname}} {{user.lastname}}<br>
                        </h3>
                        <span class="d-none d-md-block d-lg-block"><fa name="user"></fa> {{user.firstname}} {{user.lastname}}</span>

                        <small class="text-muted"><fa name="birthday-cake"></fa> {{user.birthdate | mask: '0000-00-00'}}</small>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                        <fa name="phone"></fa> {{user.phone | mask: '(000) 000-0000'}}<br>
                        <a href="mailto:{{user.email}}"><fa name="envelope"></fa> {{user.email}}</a>
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm" routerLink="/edit/{{user.uuid}}">Editar</button>
                            <button [swal]="deleteSwal" class="btn btn-sm btn-danger">Eliminar</button>
                        </div>
                        <swal
                            #deleteSwal
                            title="Eliminar"
                            text="Seguro que deseas eliminar el contacto"
                            type="warning"
                            confirmButtonText="Si"
                            confirmButtonClass="btn btn-danger mr-1"
                            cancelButtonClass="btn btn-primary"
                            cancelButtonText="Cancelar"
                            [showCancelButton]="true"
                            [focusCancel]="true"
                            (confirm)="deleteUser(user)">
                        </swal>
                    </div>
                </div>
            </li>

            <li class="list-group-item" *ngIf="users.length == 0">
                <div class="alert alert-warning mb-0">
                    No hay contactos registrados. <a routerLink="/add">¿quieres crear uno?</a>
                </div>
            </li>

        </ul>

    </div>
</div>