<div class="container-fluid vh-100">
  <div class="row">
    <div class="col-md-4 bg-light vh-100 text-center align-items-center pt-5">
      <h1>Agenda</h1>
        <img src="assets/notebook.svg" class="img-fluid mb-5 mt-5" width="100px">
        <p>Almacena los contactos mas importantes en tu agenda, por si tu celular explota en llamas.</p>

        <nav class="nav justify-content-center">
          <a class="btn btn-outline-secondary mr-1" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contactos</a>
          <a class="btn btn-outline-secondary" routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nuevo Contacto</a>
      </nav>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>  
</div>