// fuente personalizada
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
// variables para bootstrap
$theme-colors: (
  "primary":    #5f27cd,
  "secondary":  #341f97,
  "success":    #1dd1a1,
  "info":       #54a0ff,
  "warning":    #feca57,
  "danger":     #ee5253,
  "light":      #c8d6e5,
  "dark":       #222f3e
);

$component-active-bg: darken(map-get($theme-colors, "primary"), 20%);
$input-box-shadow: inset 0 1px 1px rgba(darken(map-get($theme-colors, "primary"), 20%), .075) !default;
$link-hover-decoration: none !default;

//bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// estilos personalizados
body {
    font-family: 'Roboto Mono', monospace;
}

.nav-link.active {
    font-weight: 900;
}